/* Sticky footer styles
-------------------------------------------------- */
html {position:relative; min-height:100%;}
body {background:#333 url(../media/bg.png);
	/* Margin bottom by footer height */
	margin-bottom: 60px; color:#FFF; font-family:'Open Sans', sans-serif;
}
.footer {position:absolute; bottom:0; width:100%;
	/* Set the fixed height of the footer here */
	height:60px; background-color:rgba(0, 0, 0, 0.2);
}
/* Custom page CSS -------------------------------------------------- */
.fw300 {font-weight:300;}
.fw400 {font-weight:400;}
.fw600 {font-weight:600;}
.fw700 {font-weight:700;}
.fw800 {font-weight:800;}

.well-gm {background-color:rgba(0, 0, 0, 0.2); border-color:#222; padding:0 0 10px;}

footer .container .text-muted {margin:20px 0;}

.anchor {text-align:center;}
.anchor a {color:#666; font-weight:600;}
.anchor a:hover {color:#CCC;}

.cxm-projects .cat {font-size:11px; color:#666;}
.cxm-logos img, .cxm-projects img {-webkit-filter:grayscale(1); filter:grayscale(1); margin-bottom:5px;}
.cxm-logos img:hover, .cxm-projects img:hover {-webkit-filter:grayscale(0); filter:grayscale(0);}

.cxm-cats .anchor a {font-size:13px;}