<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center animated fadeInDown">{{$ctrl.heading}}</h1>
      <hr class="border-light animated zoomIn">
      <p class="text-center animated fadeInUp">{{$ctrl.subheading}}</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-8 animated fadeInUp">
      <input type="text" name="" placeholder="Search Project" class="form-control form-control-sm bg-secondary mb-3" data-ng-model="$ctrl.srch" >
    </div>
  </div>

  <dir-pagination-controls boundary-links="true" on-page-change="$ctrl.pageChangeHandler(newPageNumber)" template-url="pagination/dirPagination.tpl.html"></dir-pagination-controls>

  <div class="row justify-content-center">
    <div class="col-sm-3" dir-paginate="project in $ctrl.projects | filter: $ctrl.srch | itemsPerPage: $ctrl.pageSize" current-page="$ctrl.currentPage">
      <div class="cxm-card cxm-projects text-center animated zoomIn">
        <a href="{{project.link}}" target="_blank"><img class="img-fluid" ng-src="../media/projects/{{project.img}}"></a>
        <div class="cxm-link"><a href="{{project.link}}" target="_blank">{{project.name}}</a></div>
        <div class="cat">{{project.cat}}</div>
      </div>
    </div>    
  </div>

  <dir-pagination-controls boundary-links="true" on-page-change="$ctrl.pageChangeHandler(newPageNumber)" template-url="pagination/dirPagination.tpl.html"></dir-pagination-controls> 
</div>    