<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center text-uppercase animated fadeInDown">{{$ctrl.heading}}</h1>
      <hr class="border-light animated zoomIn">
      <p class="text-center animated fadeInUp">{{$ctrl.subheading}}</p>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-sm-3" ng-repeat="bc in $ctrl.businessCards">
      <div class="cxm-card bcard text-center animated zoomIn">
        <img class="img-fluid" ng-src="{{bc.imgUrl}}" alt="{{bc.name}}">
        <div>{{bc.name}}</div>
      </div>
    </div>
  </div>
</div>    