<div class="bg-secondary px-2 py-1 rounded mb-3">
    <div class="row align-items-center">
        <div class="col-sm-4">
            Show {{ range.lower }} - {{ range.upper }} of {{ range.total }}
        </div>
        <div class="col-sm-4">
            <ul class="pagination pagination-sm justify-content-center mb-0" ng-if="1 < pages.length || !autoHide">
                <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }" class="page-item">
                    <a class="page-link" href="" ng-click="setCurrent(1)">&laquo;</a>
                </li>
                <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="page-item">
                    <a class="page-link" href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
                </li>
                <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" class="page-item">
                    <a class="page-link" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
                </li>            
                <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="page-item">
                    <a class="page-link" href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
                </li>
                <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="page-item">
                    <a class="page-link" href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 text-right">
            Total Records: {{ range.total }}
        </div>
    </div>
</div>