<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center animated fadeInDown">{{$ctrl.heading}}</h1>
      <hr class="border-light animated zoomIn">
      <p class="text-center animated fadeInUp">{{$ctrl.subheading}}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6" ng-repeat="pg in $ctrl.pages">
      <div class="cxm-card text-center animated zoomIn">
        <a href="{{pg.link}}"><img class="img-fluid" ng-src="{{pg.imgUrl}}"></a>
        <div class="cxm-link"><a href="{{pg.link}}">{{pg.name}}</a></div>
      </div>
    </div>    
  </div>
</div>