body {background:#333 url(../../media/bg.png); color:#FFF;}

/* Custom page CSS -------------------------------------------------- */
.fw300 {font-weight:300;}
.fw400 {font-weight:400;}
.fw600 {font-weight:600;}
.fw700 {font-weight:700;}
.fw800 {font-weight:800;}

.cxm-card {background-color:rgba(0, 0, 0, 0.2); border:1px #333 solid; padding:10px; margin-bottom:30px;}

.cxm-link {text-align:center;}
.cxm-link a {color:#666; font-weight:600;}
.cxm-link a:hover {color:#CCC;}

.cxm-projects .cat {font-size:11px; color:#666;}
.cxm-logos img, .cxm-projects img, .bcard img {-webkit-filter:grayscale(1); filter:grayscale(1); margin-bottom:5px;}
.cxm-logos img:hover, .cxm-projects img:hover, .bcard img:hover {-webkit-filter:grayscale(0); filter:grayscale(0);}

.cxm-cats .cxm-link a {font-size:13px;}

.pagination .page-link {color:#111;}
.pagination .page-item.active .page-link {background-color:#333; border-color:#666;}

.footer {background-color:rgba(0, 0, 0, 0.2); padding:10px; color:#999; text-align:center; border:1px #333 solid; border-width:1px 0;}