<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center animated fadeInDown">{{$ctrl.heading}}</h1>
      <hr class="border-light animated zoomIn">
      <p class="text-center animated fadeInUp">{{$ctrl.subheading}}</p>
    </div>
  </div>

  
  <div class="row justify-content-center">
    <div class="col-sm-3 mb-4 animated zoomIn" ng-repeat="eml in $ctrl.htmlEmails">
      <a href="{{eml.link}}" target="_blank">
        <img class="img-fluid" ng-src="{{eml.imgUrl}}" alt="{{eml.name}}">
      </a>
      <div class="text-center">{{eml.name}}</div>
    </div>
  </div>
</div>    