<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center animated fadeInDown">{{$ctrl.heading}}</h1>
      <hr class="border-light animated zoomIn">
      <p class="text-center animated fadeInUp">{{$ctrl.subheading}}</p>
    </div>
  </div>

  <div ng-repeat="app in $ctrl.mobApps">
    <h2 class="text-center">{{app.name | uppercase}}</h2>
    <div class="row">
      <div class="col-sm-12">
          <div id="{{app.id}}" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#{{app.id}}" data-slide-to="{{$index}}" ng-class="{'active': $first}" ng-repeat="img in app.imgs"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item text-center" ng-class="{'active': $first}" ng-repeat="img in app.imgs">
                <img ng-src="{{img}}" class="img-fluid" alt="{{app.name}}">
              </div>
            </div>          
          </div>
      </div>
    </div>
    <hr class="border-light">
  </div>  
</div>    