<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center animated fadeInDown">{{$ctrl.heading}}</h1>
      <hr class="border-light animated zoomIn">
      <p class="text-center animated fadeInUp">{{$ctrl.subheading}}</p>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-sm-3" ng-repeat="logo in $ctrl.logos">
      <div class="cxm-card cxm-logos text-center animated zoomIn">
        <img class="img-fluid" ng-src="{{logo.imgUrl}}" alt="{{logo.name}}">
        <div class="text-center">{{logo.name}}</div>
      </div>        
    </div>
  </div>
</div>    