<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title><%= title %></title>
  </head>
  <body>
    <% include ./includes/header %>
    <div class="container">
      <h3 class="text-center mb-3"><%= title %></h3>
      <div class="row">
        <div class="col-sm-12">
          <div class="text-right mb-2">
            <a class="btn btn-secondary btn-sm" href="/category-add"><span class="fas fa-plus"></span> Add New</a>
          </div>
          <table class="table">
            <tr>
              <th>Category Name</th>
              <th class="text-right">Action</th>
            </tr>
            <% categories.docs.forEach(function(category){ %>
            <tr>
              <td><%= category.name %></td>
              <td class="text-right">
                <a class="btn btn-primary btn-sm" href="/category-add/edit/<%= category._id %>"><span class="fas fa-edit"></span></a>
                <a class="btn btn-danger btn-sm" href="/categories/delete/<%= category._id %>"><span class="fas fa-trash"></span></a>
              </td>
            </tr>            
            <% }); %>            
          </table>          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 text-info">Total: <%= categories.totalDocs %></div>
        <div class="col-sm-6">            
          <% if (pages > 0) { %>
            <ul class="pagination pagination-sm justify-content-center">
              <% if (current == 1) { %>
                  <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
              <% } else { %>
                  <li class="page-item"><a class="page-link" href="/categories/1">First</a></li>
              <% } %>
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="page-item disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/categories/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <li class="page-item disabled"><a class="page-link">Last</a></li>
              <% } else { %>
                  <li class="page-item"><a class="page-link" href="/categories/<%= pages %>">Last</a></li>
              <% } %>
            </ul>
          <% } %>
        </div>
        <div class="col-sm-3 text-info text-right">Page: <%= categories.totalPages %> / <%= categories.page %></div>
      </div>
    </div>  

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
  </body>
</html>