<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title><%= title %></title>
  </head>
  <body>
    <% include ./includes/header %>
    <div class="container">
      <h3 class="text-center mb-3"><%= title %></h3>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <div class="card mb-3 bg-light">
            <div class="card-header">Add New Category</div>
            <div class="card-body">
              <% if(sux){ %><div class="alert alert-success"><%= sux %></div><% } %>
              <form action="/category-add" method="post">
                <% if(frmVal.id){ %><input type="hidden" name="ctid" value="<%= frmVal.id %>"><% } %> 
                <div class="row mb-2">
                  <div class="col-sm-3">
                    <div class="col-form-label">Name</div>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="ctnm" id="ctnm" value="<%= frmVal.ctnm %>" class="form-control">
                    <% if(errs.ctnm){ %><div class="alert alert-danger cxm-err"><%= errs.ctnm.msg %></div><% } %>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-sm-9 offset-sm-3">
                      <button type="submit" class="btn btn-dark btn-sm"><%= frmVal.id? 'Update' :'Add New' %></button>
                  </div>
                </div>
                <div class="text-muted text-right"><a href="/categories">View All</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
  </body>
</html>