<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title><%= title %></title>
  </head>
  <body>
    <% include ./includes/header %>
    <div class="container">
      <h3 class="text-center mb-3"><%= title %></h3>
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="card text-center mb-3 bg-light h-100">
            <div class="card-header">Users</div>
            <div class="card-body">You can View all register user with link below.
              Total user: <%= userCount %>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="/users">User List</a></li>
            </ul>
          </div>          
        </div>
        <div class="col-sm-4">
          <div class="card text-center mb-3 bg-light h-100">
            <div class="card-header">Passwords</div>
            <div class="card-body">You can Add, Edit, Delete Password with link below.</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="/passwords">Password List</a></li>
              <li class="list-group-item"><a href="/password-add">Add new Password</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center mb-3 bg-light h-100">
            <div class="card-header">Categories</div>
            <div class="card-body">You can Add, Edit, Delete Categories with link below.</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="/categories">Category List</a></li>
              <li class="list-group-item"><a href="/category-add">Add new Category</a></li>
            </ul>
          </div>
        </div>
      </div>            
    </div>  

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
  </body>
</html>