<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title><%= title %></title>
  </head>
  <body>
    <% include ./includes/header %>
    <div class="container">
      <h3 class="text-center mb-3"><%= title %></h3>
      <div class="row">
        <div class="col-sm-12">
          <div class="text-right mb-2">
            <a class="btn btn-secondary btn-sm" href="/password-add"><span class="fas fa-plus"></span> Add New</a>
          </div>
          <table class="table">
            <tr>
              <th>Project</th>
              <th>Category</th>
              <th class="text-right">Action</th>
            </tr>
            <% passwords.forEach(function(password){ %>
            <tr>
              <td><%= password.project %></td>
              <td><%= password.category_detail.name %></td>
              <td class="text-right">
                <a class="btn btn-info btn-sm" href="#" data-toggle="modal" data-target="#id<%= password._id %>"><span class="fas fa-eye"></span></a>                
                <a class="btn btn-primary btn-sm" href="/password-add/edit/<%= password._id %>"><span class="fas fa-edit"></span></a>
                <a class="btn btn-danger btn-sm" href="/passwords/delete/<%= password._id %>"><span class="fas fa-trash"></span></a>
              </td>
            </tr>
            <!-- Project Detaiil Modal -->
            <div class="modal fade" id="id<%= password._id %>" tabindex="-1" role="dialog" aria-labelledby="id<%= password._id %>Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="id<%= password._id %>Label"><%= password.project %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%- password.details %>
                  </div>                      
                </div>
              </div>
            </div>
            <% }); %>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">            
          <% if (pages > 0) { %>
            <ul class="pagination justify-content-center">
              <% if (current == 1) { %>
                  <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
              <% } else { %>
                  <li class="page-item"><a class="page-link" href="/passwords/1">First</a></li>
              <% } %>
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="page-item disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                      <li class="page-item active"><a class="page-link"><%= i %></a></li>
                  <% } else { %>
                      <li class="page-item"><a class="page-link" href="/passwords/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                      <li class="page-item disabled"><a class="page-link">...</a></li>
                  <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <li class="page-item disabled"><a class="page-link">Last</a></li>
              <% } else { %>
                  <li class="page-item"><a class="page-link" href="/passwords/<%= pages %>">Last</a></li>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>
    </div>  

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
  </body>
</html>