<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <h3 class="text-center mb-3"><%= title %></h3>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <div class="card mb-3 bg-light">
            <div class="card-header">Signup</div>
            <% if(sux) { %><div class="alert alert-success"><%= sux%></div><% } %>
            <div class="card-body">
              <form action="/signup/" method="post">
                <div class="row mb-2">
                  <div class="col-sm-3">
                    <div class="col-form-label">User Name</div>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="unm" id="unm" value="<%= frmVal.unm %>" class="form-control">
                    <% if(errs.unm) { %><div class="alert alert-danger cxm-err"><%= errs.unm.msg %></div><% } %>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-sm-3">
                    <div class="col-form-label">Email</div>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="ueml" id="ueml" value="<%= frmVal.ueml %>" class="form-control">
                    <% if(errs.ueml) { %><div class="alert alert-danger cxm-err"><%= errs.ueml.msg %></div><% } %>
                  </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">
                      <div class="col-form-label">Password</div>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" name="upw" id="upw" class="form-control">
                      <% if(errs.upw) { %><div class="alert alert-danger cxm-err"><%= errs.upw.msg %></div><% } %>
                    </div>
                  </div>
                <div class="row mb-2">
                    <div class="col-sm-3">
                      <div class="col-form-label">Confirm Password</div>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" name="ucpw" id="ucpw" class="form-control">
                      <% if(errs.ucpw) { %><div class="alert alert-danger cxm-err"><%= errs.ucpw.msg %></div><% } %>
                    </div>
                  </div>
                <div class="row mb-2">
                  <div class="col-sm-9 offset-sm-3">
                      <button type="submit" class="btn btn-dark btn-sm">Register</button>
                  </div>
                </div>
                <div class="text-muted">You have account <a href="/">Login Now</a></div>              
              </form>
            </div>
          </div>
        </div>
      </div>      
    </div>  

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
  </body>
</html>