<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title><%= title %></title>
  </head>
  <body>
      <% include ./includes/header %>
    <div class="container">
      <h3 class="text-center mb-3"><%= title %></h3>
      <div class="row">
        <div class="col-sm-12">          
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
            </tr>
            <% users.forEach(function(user){ %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.password %></td>
            </tr>            
            <% }); %>
          </table>
        </div>
      </div>
    </div>  

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
  </body>
</html>